openapi: 3.0.1
info:
  contact:
    email: support@gridly.com
    name: Gridly Team
    url: https://www.gridly.com
  description: Gridly API documentation
  license:
    name: MIT
    url: ""
  termsOfService: ""
  title: Gridly API
  version: 4.15.1
servers:
- description: Generated server url
  url: https://api.gridly.com
security:
- ApiKey: []
tags:
- description: View Dependency API
  name: view-dependency
- description: Task API
  name: task
- description: View API
  name: view
- description: Path API
  name: Path
- description: Record API
  name: record
- description: Branch API
  name: branch
- description: Grid API
  name: grid
- description: API for sharing view
  name: share-view
- description: View File API
  name: view-file
- description: View Column API
  name: view-column
- description: Database API
  name: database
- description: Project API
  name: project
- description: Translation Memory API
  name: transmem
paths:
  /v1/views/{viewId}/shares:
    delete:
      description: delete
      operationId: delete
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - share-view
      x-accepts: application/json
    get:
      description: get
      operationId: get
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareView'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - share-view
      x-accepts: application/json
    put:
      description: create
      operationId: create
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShareView'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareView'
          description: OK
      security:
      - ApiKey: []
      summary: create
      tags:
      - share-view
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/paths/{path}:
    put:
      description: update
      operationId: update
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePath'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathSingle'
          description: OK
      security:
      - ApiKey: []
      summary: update
      tags:
      - Path
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/dependencies/{dependencyId}:
    delete:
      description: deleteById
      operationId: deleteById
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: dependencyId
        explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: deleteById
      tags:
      - view-dependency
      x-accepts: application/json
    get:
      description: get
      operationId: get
      parameters:
      - description: dependencyId
        explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependency'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - view-dependency
      x-accepts: application/json
    put:
      description: update
      operationId: update
      parameters:
      - description: dependencyId
        explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDependency'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependency'
          description: OK
      security:
      - ApiKey: []
      summary: update
      tags:
      - view-dependency
      x-content-type: application/json
      x-accepts: application/json
  /v1/views:
    get:
      description: list
      operationId: list
      parameters:
      - description: branchId
        explode: true
        in: query
        name: branchId
        required: false
        schema:
          type: string
        style: form
      - description: gridId
        explode: true
        in: query
        name: gridId
        required: false
        schema:
          type: string
        style: form
      - description: type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - defaultView
          - accessView
          - userView
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/View'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: list
      tags:
      - view
      x-accepts: application/json
    post:
      description: create
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateView'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK
      security:
      - ApiKey: []
      summary: create
      tags:
      - view
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/records:
    delete:
      description: delete
      operationId: delete
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRecord'
        required: true
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - record
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: fetch
      operationId: fetch
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: columnIds
        explode: true
        in: query
        name: columnIds
        required: false
        schema:
          default: []
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: sort
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: fetchFileOption
        explode: true
        in: query
        name: fetchFileOption
        required: false
        schema:
          $ref: '#/components/schemas/FetchFileOption'
        style: form
      - description: afterRecordId
        explode: true
        in: query
        name: afterRecordId
        required: false
        schema:
          type: string
        style: form
      - description: beforeRecordId
        explode: true
        in: query
        name: beforeRecordId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Record'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: fetch
      tags:
      - record
      x-accepts: application/json
    patch:
      description: update
      operationId: update
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SetRecord'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Record'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: update
      tags:
      - record
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: create
      operationId: create
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SetRecord'
              type: array
        description: createRecords
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Record'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: create
      tags:
      - record
      x-codegen-request-body-name: createRecords
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/paths:
    delete:
      description: delete
      operationId: delete
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePath'
        required: true
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - Path
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: create
      operationId: create
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePath'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathList'
          description: OK
      security:
      - ApiKey: []
      summary: create
      tags:
      - Path
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/paths/move:
    post:
      description: move
      operationId: move
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovePath'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathList'
          description: OK
      security:
      - ApiKey: []
      summary: move
      tags:
      - Path
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/merge:
    post:
      description: merge
      operationId: merge
      parameters:
      - description: destinationViewId
        explode: true
        in: query
        name: destinationViewId
        required: true
        schema:
          type: string
        style: form
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: mergeRecordOptions
        explode: true
        in: query
        name: mergeRecordOptions
        required: false
        schema:
          default: []
          items:
            enum:
            - add
            - update
            - delete
            - override
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
      security:
      - ApiKey: []
      summary: merge
      tags:
      - view
      x-accepts: application/json
  /v1/views/{viewId}/import:
    post:
      description: importView
      operationId: importView
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: importRequest
        explode: true
        in: query
        name: importRequest
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: type
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: csv
          enum:
          - csv
          - tsv
          - xls
          - xlsx
          - json
          - po
          - html
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/importView_request'
      responses:
        "202":
          description: Accepted
      security:
      - ApiKey: []
      summary: importView
      tags:
      - view
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/views/{viewId}/files:
    delete:
      description: delete
      operationId: delete
      parameters:
      - description: columnId
        explode: true
        in: query
        name: columnId
        required: true
        schema:
          type: string
        style: form
      - description: recordId
        explode: true
        in: query
        name: recordId
        required: true
        schema:
          type: string
        style: form
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteFile'
        required: true
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - view-file
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: upload
      operationId: upload
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: columnId
        explode: true
        in: query
        name: columnId
        required: true
        schema:
          type: string
        style: form
      - description: recordId
        explode: true
        in: query
        name: recordId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/upload_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
          description: Created
      security:
      - ApiKey: []
      summary: upload
      tags:
      - view-file
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/views/{viewId}/files/zip:
    post:
      description: uploadZip
      operationId: uploadZip
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/uploadZip_request'
          application/json:
            schema:
              $ref: '#/components/schemas/uploadZip_request'
      responses:
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Record'
                type: array
          description: default response
      security:
      - ApiKey: []
      summary: uploadZip
      tags:
      - view-file
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/views/{viewId}/dependencies:
    delete:
      description: delete
      operationId: delete
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDependency'
        required: true
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - view-dependency
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: list
      operationId: list
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dependency'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: list
      tags:
      - view-dependency
      x-accepts: application/json
    post:
      description: create
      operationId: create
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDependency'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dependency'
          description: Created
      security:
      - ApiKey: []
      summary: create
      tags:
      - view-dependency
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/columns:
    post:
      description: Create a Column
      operationId: create
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateColumn'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewColumn'
          description: Created
      security:
      - ApiKey: []
      summary: create
      tags:
      - view-column
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/columns/{columnId}/remove:
    post:
      description: remove
      operationId: remove
      parameters:
      - description: columnId
        explode: false
        in: path
        name: columnId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      security:
      - ApiKey: []
      summary: remove
      tags:
      - view-column
      x-accepts: application/json
  /v1/views/{viewId}/columns/{columnId}/add:
    post:
      description: add
      operationId: add
      parameters:
      - description: columnId
        explode: false
        in: path
        name: columnId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewColumn'
          description: OK
      security:
      - ApiKey: []
      summary: add
      tags:
      - view-column
      x-accepts: application/json
  /v1/grids:
    get:
      description: Get a Grid
      operationId: list
      parameters:
      - description: dbId
        explode: true
        in: query
        name: dbId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Grid'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: list
      tags:
      - grid
      x-accepts: application/json
    post:
      description: Create a Grid
      operationId: create
      parameters:
      - description: dbId
        explode: true
        in: query
        name: dbId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGrid'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grid'
          description: Created
      security:
      - ApiKey: []
      summary: create
      tags:
      - grid
      x-content-type: application/json
      x-accepts: application/json
  /v1/branches:
    get:
      description: list
      operationId: list
      parameters:
      - description: gridId
        explode: true
        in: query
        name: gridId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Branch'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: list
      tags:
      - branch
      x-accepts: application/json
    post:
      description: create
      operationId: create
      parameters:
      - description: gridId
        explode: true
        in: query
        name: gridId
        required: false
        schema:
          type: string
        style: form
      - description: branchId
        explode: true
        in: query
        name: branchId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBranch'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: Created
      security:
      - ApiKey: []
      summary: create
      tags:
      - branch
      x-content-type: application/json
      x-accepts: application/json
  /v1/branches/{branchId}/merge:
    post:
      description: merge
      operationId: merge
      parameters:
      - description: branchId
        explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      - description: destinationBranchId
        explode: true
        in: query
        name: destinationBranchId
        required: true
        schema:
          type: string
        style: form
      - description: mergeRecordOptions
        explode: true
        in: query
        name: mergeRecordOptions
        required: false
        schema:
          default: []
          items:
            enum:
            - add
            - update
            - delete
            - override
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
      security:
      - ApiKey: []
      summary: merge
      tags:
      - branch
      x-accepts: application/json
  /v1/views/{viewId}/records/{id}:
    patch:
      description: updateRecord
      operationId: updateRecord
      parameters:
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: path
        explode: true
        in: query
        name: path
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
          description: OK
      security:
      - ApiKey: []
      summary: updateRecord
      tags:
      - record
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}/columns/{columnId}:
    delete:
      description: delete
      operationId: delete
      parameters:
      - description: columnId
        explode: false
        in: path
        name: columnId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - view-column
      x-accepts: application/json
    get:
      description: get
      operationId: get
      parameters:
      - description: columnId
        explode: false
        in: path
        name: columnId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewColumn'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - view-column
      x-accepts: application/json
    patch:
      description: update
      operationId: update
      parameters:
      - description: columnId
        explode: false
        in: path
        name: columnId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateColumn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewColumn'
          description: OK
      security:
      - ApiKey: []
      summary: update
      tags:
      - view-column
      x-content-type: application/json
      x-accepts: application/json
  /v1/grids/{gridId}:
    delete:
      description: Delete a Grid
      operationId: delete
      parameters:
      - description: gridId
        explode: false
        in: path
        name: gridId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - grid
      x-accepts: application/json
    get:
      description: Get a Grid
      operationId: get
      parameters:
      - description: gridId
        explode: false
        in: path
        name: gridId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grid'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - grid
      x-accepts: application/json
    patch:
      description: Update a Grid
      operationId: update
      parameters:
      - description: gridId
        explode: false
        in: path
        name: gridId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGrid'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grid'
          description: OK
      security:
      - ApiKey: []
      summary: update
      tags:
      - grid
      x-content-type: application/json
      x-accepts: application/json
  /v1/views/{viewId}:
    get:
      description: get
      operationId: get
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: columnIds
        explode: true
        in: query
        name: columnIds
        required: false
        schema:
          default: []
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: include
        explode: true
        in: query
        name: include
        required: false
        schema:
          default: []
          items:
            enum:
            - records
            type: string
          nullable: true
          type: array
        style: form
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: sort
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/View'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - view
      x-accepts: application/json
  /v1/views/{viewId}/records/{recordId}/histories:
    get:
      description: fetchHistories
      operationId: fetchHistories
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: recordId
        explode: false
        in: path
        name: recordId
        required: true
        schema:
          type: string
        style: simple
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecordHistory'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: fetchHistories
      tags:
      - record
      x-accepts: application/json
  /v1/views/{viewId}/paths/tree:
    get:
      description: list
      operationId: list
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: rootPath
        explode: true
        in: query
        name: rootPath
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PathNode'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: list
      tags:
      - Path
      x-accepts: application/json
  /v1/views/{viewId}/files/{fileId}:
    get:
      description: download
      operationId: download
      parameters:
      - description: fileId
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: default response
      security:
      - ApiKey: []
      summary: download
      tags:
      - view-file
      x-accepts: application/octet-stream
  /v1/views/{viewId}/export:
    get:
      description: export
      operationId: export
      parameters:
      - description: viewId
        explode: false
        in: path
        name: viewId
        required: true
        schema:
          type: string
        style: simple
      - description: columnIds
        explode: true
        in: query
        name: columnIds
        required: false
        schema:
          default: []
          items:
            type: string
          nullable: true
          type: array
        style: form
      - description: fileHeader
        explode: true
        in: query
        name: fileHeader
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileHeader'
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: sort
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: "{}"
          nullable: true
          type: string
        style: form
      - description: type
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: csv
          enum:
          - csv
          - tsv
          - xls
          - xlsx
          - json
          - po
          - html
          nullable: true
          type: string
        style: form
      responses:
        default:
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: default response
      security:
      - ApiKey: []
      summary: export
      tags:
      - view
      x-accepts: application/octet-stream
  /v1/template-grids:
    get:
      description: listTemplateGrids
      operationId: listTemplateGrids
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Grid'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: listTemplateGrids
      tags:
      - grid
      x-accepts: application/json
  /v1/tasks/{taskId}:
    get:
      description: get
      operationId: get
      parameters:
      - description: taskId
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - task
      x-accepts: application/json
  /v1/branches/{branchId}:
    delete:
      description: delete
      operationId: delete
      parameters:
      - description: branchId
        explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - branch
      x-accepts: application/json
    get:
      description: get
      operationId: get
      parameters:
      - description: branchId
        explode: false
        in: path
        name: branchId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - branch
      x-accepts: application/json
  /v1/projects/{projectId}:
    delete:
      operationId: delete
      parameters:
      - description: projectId
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      security:
      - ApiKey: []
      summary: delete
      tags:
      - project
      x-accepts: application/json
    get:
      operationId: findOne
      parameters:
      - description: projectId
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetail'
          description: OK
      security:
      - ApiKey: []
      summary: findOne
      tags:
      - project
      x-accepts: application/json
    put:
      operationId: update
      parameters:
      - description: projectId
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      security:
      - ApiKey: []
      summary: update
      tags:
      - project
      x-content-type: application/json
      x-accepts: application/json
  /v1/databases/{dbId}:
    delete:
      operationId: delete
      parameters:
      - description: dbId
        explode: false
        in: path
        name: dbId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      security:
      - ApiKey: []
      summary: delete
      tags:
      - database
      x-accepts: application/json
    get:
      operationId: get
      parameters:
      - description: dbId
        explode: false
        in: path
        name: dbId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      security:
      - ApiKey: []
      summary: get
      tags:
      - database
      x-accepts: application/json
    put:
      operationId: update
      parameters:
      - description: dbId
        explode: false
        in: path
        name: dbId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabase'
        description: body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      security:
      - ApiKey: []
      summary: update
      tags:
      - database
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v1/projects:
    get:
      operationId: list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: list
      tags:
      - project
      x-accepts: application/json
    post:
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      security:
      - ApiKey: []
      summary: create
      tags:
      - project
      x-content-type: application/json
      x-accepts: application/json
  /v1/databases:
    get:
      operationId: list
      parameters:
      - description: expand
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - grid
            - view
            type: string
          type: array
        style: form
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: projectId
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: search
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: sort
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Database'
                type: array
          description: OK
      security:
      - ApiKey: []
      summary: list
      tags:
      - database
      x-accepts: application/json
    post:
      operationId: create
      parameters:
      - description: projectId
        explode: true
        in: query
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabase'
        description: body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      security:
      - ApiKey: []
      summary: create
      tags:
      - database
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v1/databases/{dbId}/duplicate:
    post:
      operationId: duplicate
      parameters:
      - description: dbId
        explode: false
        in: path
        name: dbId
        required: true
        schema:
          type: string
        style: simple
      - description: projectId
        explode: true
        in: query
        name: projectId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabase'
        description: body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      security:
      - ApiKey: []
      summary: duplicate
      tags:
      - database
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v1/transmems:
    get:
      operationId: listTM
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TransMem'
                type: array
          description: OK
      summary: List all available translation memories or create default one if there
        is no translation memory
      tags:
      - transmem
      x-accepts: application/json
    post:
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransMem'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransMem'
          description: Create a new translation memory successful !
      summary: Create a new translation memory
      tags:
      - transmem
      x-content-type: application/json
      x-accepts: application/json
  /v1/transmems/upload:
    post:
      operationId: createWithFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/upload_request'
        description: Based tmx file to create translation memory
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransMem'
          description: Create a new translation memory based on provided tmx file
            successfully !
      summary: Create a new translation memory by uploading tmx file
      tags:
      - transmem
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/transmems/{tmId}:
    delete:
      operationId: delete
      parameters:
      - explode: false
        in: path
        name: tmId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransMem'
          description: OK
      summary: Delete a translation memory by id
      tags:
      - transmem
      x-accepts: application/json
    get:
      operationId: get
      parameters:
      - explode: false
        in: path
        name: tmId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransMem'
          description: OK
      summary: Get translation memory info by id
      tags:
      - transmem
      x-accepts: application/json
    put:
      operationId: update
      parameters:
      - explode: false
        in: path
        name: tmId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransMem'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransMem'
          description: OK
      summary: Update a translation memory
      tags:
      - transmem
      x-content-type: application/json
      x-accepts: application/json
  /v1/transmems/{tmId}/cleanup:
    put:
      operationId: cleanup
      parameters:
      - explode: false
        in: path
        name: tmId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      summary: Erases all the translation data of the provided tmId
      tags:
      - transmem
      x-accepts: application/json
  /v1/transmems/{tmId}/export:
    get:
      operationId: export
      parameters:
      - explode: false
        in: path
        name: tmId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: format
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ExportFormat'
          - {}
        style: form
      - explode: true
        in: query
        name: sourceLang
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: targetLangs
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
      summary: Export translation memory tmx file
      tags:
      - transmem
      x-accepts: application/octet-stream
  /v1/transmems/{tmId}/import:
    post:
      operationId: importTmx
      parameters:
      - explode: false
        in: path
        name: tmId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/upload_request'
        description: tmx file to upload
        required: true
      responses:
        "200":
          description: Import tmx file successfully
      summary: Import a translation memory from tmx file
      tags:
      - transmem
      x-content-type: multipart/form-data
      x-accepts: application/json
components:
  schemas:
    CreateShareView:
      example:
        includeGridHistory: true
      properties:
        includeGridHistory:
          type: boolean
      type: object
    ShareView:
      example:
        companyId: companyId
        viewId: viewId
        createdDate: 2000-01-23T04:56:07.000+00:00
        lastModifiedDate: 2000-01-23T04:56:07.000+00:00
        includeGridHistory: true
        link: link
        active: true
      properties:
        companyId:
          type: string
        link:
          type: string
        active:
          type: boolean
        viewId:
          type: string
        includeGridHistory:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
      type: object
    UpdatePath:
      example:
        newName: newName
      properties:
        newName:
          pattern: "^[^/\\\\]+$"
          type: string
      required:
      - newName
      type: object
    PathSingle:
      example:
        path: path
      properties:
        path:
          type: string
      type: object
    UpdateDependency:
      example:
        targetColumnId: targetColumnId
        newId: newId
        sourceColumnId: sourceColumnId
      properties:
        newId:
          pattern: ^(?!_)\w+$
          type: string
        sourceColumnId:
          type: string
        targetColumnId:
          type: string
      required:
      - sourceColumnId
      - targetColumnId
      type: object
    Dependency:
      example:
        targetColumnId: targetColumnId
        id: id
        sourceColumnId: sourceColumnId
      properties:
        id:
          type: string
        sourceColumnId:
          type: string
        targetColumnId:
          type: string
      required:
      - sourceColumnId
      - targetColumnId
      type: object
    AddViewColumn:
      example:
        editable: true
        id: id
      properties:
        editable:
          type: boolean
        id:
          type: string
      type: object
    CreateView:
      example:
        columns:
        - editable: true
          id: id
        - editable: true
          id: id
        name: name
        gridId: gridId
      properties:
        name:
          type: string
        columns:
          items:
            $ref: '#/components/schemas/AddViewColumn'
          type: array
        gridId:
          type: string
      type: object
    Cell:
      example:
        sourceStatus: unset
        lengthLimit: 6
        columnId: columnId
        dependencyStatus: upToDate
        tm: true
        referencedIds:
        - referencedIds
        - referencedIds
        value: ""
      properties:
        columnId:
          type: string
        dependencyStatus:
          enum:
          - upToDate
          - outOfDate
          - unset
          type: string
        lengthLimit:
          format: int32
          type: integer
        referencedIds:
          items:
            type: string
          type: array
        sourceStatus:
          enum:
          - unset
          - doNotTranslate
          - notReadyForTranslation
          - readyForTranslation
          - locked
          type: string
        tm:
          type: boolean
        value:
          type: AnyType
      type: object
    ColumnReference:
      example:
        selectionType: SINGLE
        grid:
          name: name
          id: id
        column:
          name: name
          selectionOptions:
          - selectionOptions
          - selectionOptions
          id: id
        type: ROW
        branch:
          name: name
          id: id
      properties:
        grid:
          $ref: '#/components/schemas/ReferencedGrid'
        column:
          $ref: '#/components/schemas/ReferencedColumn'
        branch:
          $ref: '#/components/schemas/ReferencedGrid'
        type:
          enum:
          - ROW
          - CELL
          type: string
        selectionType:
          enum:
          - SINGLE
          - MULTIPLE
          type: string
      type: object
    DateFormat:
      example:
        name: name
        format: format
      properties:
        name:
          type: string
        format:
          type: string
      type: object
    DateTimeFormat:
      example:
        zoneOffset: zoneOffset
        dateFormat:
          name: name
          format: format
        timeFormat: hour12
        showTimeZone: true
      properties:
        dateFormat:
          $ref: '#/components/schemas/DateFormat'
        timeFormat:
          enum:
          - hour12
          - hour24
          type: string
        zoneOffset:
          type: string
        showTimeZone:
          type: boolean
      type: object
    Formula:
      example:
        formulaText: formulaText
        detectResultValueType: list
        alwaysFormatResultValueAsList: true
      properties:
        formulaText:
          type: string
        alwaysFormatResultValueAsList:
          type: boolean
        detectResultValueType:
          enum:
          - list
          - string
          - decimal
          - boolean
          - datetime
          - na
          type: string
      required:
      - formulaText
      type: object
    NumberFormat:
      example:
        decimalPlaces: 0
        currencySymbol: currencySymbol
        type: DECIMAL
        use1000Separator: true
      properties:
        type:
          enum:
          - DECIMAL
          - INTEGER
          type: string
        decimalPlaces:
          format: int32
          type: integer
        currencySymbol:
          type: string
        use1000Separator:
          type: boolean
      type: object
    Record:
      example:
        path: path
        cells:
        - sourceStatus: unset
          lengthLimit: 6
          columnId: columnId
          dependencyStatus: upToDate
          tm: true
          referencedIds:
          - referencedIds
          - referencedIds
          value: ""
        - sourceStatus: unset
          lengthLimit: 6
          columnId: columnId
          dependencyStatus: upToDate
          tm: true
          referencedIds:
          - referencedIds
          - referencedIds
          value: ""
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedBy: lastModifiedBy
        id: id
      properties:
        id:
          type: string
        cells:
          items:
            $ref: '#/components/schemas/Cell'
          type: array
        lastModifiedBy:
          type: string
        lastModifiedTime:
          format: date-time
          type: string
        path:
          type: string
      type: object
    ReferencedColumn:
      example:
        name: name
        selectionOptions:
        - selectionOptions
        - selectionOptions
        id: id
      properties:
        id:
          type: string
        name:
          type: string
        selectionOptions:
          items:
            type: string
          type: array
      type: object
    ReferencedGrid:
      example:
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
      type: object
    View:
      example:
        records:
        - path: path
          cells:
          - sourceStatus: unset
            lengthLimit: 6
            columnId: columnId
            dependencyStatus: upToDate
            tm: true
            referencedIds:
            - referencedIds
            - referencedIds
            value: ""
          - sourceStatus: unset
            lengthLimit: 6
            columnId: columnId
            dependencyStatus: upToDate
            tm: true
            referencedIds:
            - referencedIds
            - referencedIds
            value: ""
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          lastModifiedBy: lastModifiedBy
          id: id
        - path: path
          cells:
          - sourceStatus: unset
            lengthLimit: 6
            columnId: columnId
            dependencyStatus: upToDate
            tm: true
            referencedIds:
            - referencedIds
            - referencedIds
            value: ""
          - sourceStatus: unset
            lengthLimit: 6
            columnId: columnId
            dependencyStatus: upToDate
            tm: true
            referencedIds:
            - referencedIds
            - referencedIds
            value: ""
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          lastModifiedBy: lastModifiedBy
          id: id
        columns:
        - dependsOn: dependsOn
          selectionOptions:
          - selectionOptions
          - selectionOptions
          description: description
          localizationType: sourceLanguage
          languageCode: languageCode
          type: singleLine
          isTarget: true
          reference:
            selectionType: SINGLE
            grid:
              name: name
              id: id
            column:
              name: name
              selectionOptions:
              - selectionOptions
              - selectionOptions
              id: id
            type: ROW
            branch:
              name: name
              id: id
          dateTimeFormat:
            zoneOffset: zoneOffset
            dateFormat:
              name: name
              format: format
            timeFormat: hour12
            showTimeZone: true
          numberFormat:
            decimalPlaces: 0
            currencySymbol: currencySymbol
            type: DECIMAL
            use1000Separator: true
          isSource: true
          name: name
          formula:
            formulaText: formulaText
            detectResultValueType: list
            alwaysFormatResultValueAsList: true
          id: id
        - dependsOn: dependsOn
          selectionOptions:
          - selectionOptions
          - selectionOptions
          description: description
          localizationType: sourceLanguage
          languageCode: languageCode
          type: singleLine
          isTarget: true
          reference:
            selectionType: SINGLE
            grid:
              name: name
              id: id
            column:
              name: name
              selectionOptions:
              - selectionOptions
              - selectionOptions
              id: id
            type: ROW
            branch:
              name: name
              id: id
          dateTimeFormat:
            zoneOffset: zoneOffset
            dateFormat:
              name: name
              format: format
            timeFormat: hour12
            showTimeZone: true
          numberFormat:
            decimalPlaces: 0
            currencySymbol: currencySymbol
            type: DECIMAL
            use1000Separator: true
          isSource: true
          name: name
          formula:
            formulaText: formulaText
            detectResultValueType: list
            alwaysFormatResultValueAsList: true
          id: id
        name: name
        id: id
        gridId: gridId
        gridStatus: deleted
      properties:
        id:
          type: string
        columns:
          items:
            $ref: '#/components/schemas/ViewColumn'
          type: array
        gridId:
          type: string
        gridStatus:
          enum:
          - deleted
          - active
          - inactive
          - restoring
          - backingUp
          - uploading
          - importing
          - branching
          - merging
          - duplicating
          - clearingRecords
          type: string
        name:
          type: string
        records:
          items:
            $ref: '#/components/schemas/Record'
          type: array
      type: object
    ViewColumn:
      example:
        dependsOn: dependsOn
        selectionOptions:
        - selectionOptions
        - selectionOptions
        description: description
        localizationType: sourceLanguage
        languageCode: languageCode
        type: singleLine
        isTarget: true
        reference:
          selectionType: SINGLE
          grid:
            name: name
            id: id
          column:
            name: name
            selectionOptions:
            - selectionOptions
            - selectionOptions
            id: id
          type: ROW
          branch:
            name: name
            id: id
        dateTimeFormat:
          zoneOffset: zoneOffset
          dateFormat:
            name: name
            format: format
          timeFormat: hour12
          showTimeZone: true
        numberFormat:
          decimalPlaces: 0
          currencySymbol: currencySymbol
          type: DECIMAL
          use1000Separator: true
        isSource: true
        name: name
        formula:
          formulaText: formulaText
          detectResultValueType: list
          alwaysFormatResultValueAsList: true
        id: id
      properties:
        id:
          type: string
        dateTimeFormat:
          $ref: '#/components/schemas/DateTimeFormat'
        dependsOn:
          type: string
        description:
          type: string
        formula:
          $ref: '#/components/schemas/Formula'
        isSource:
          type: boolean
        isTarget:
          type: boolean
        languageCode:
          type: string
        localizationType:
          enum:
          - sourceLanguage
          - targetLanguage
          type: string
        name:
          type: string
        numberFormat:
          $ref: '#/components/schemas/NumberFormat'
        reference:
          $ref: '#/components/schemas/ColumnReference'
        selectionOptions:
          items:
            type: string
          type: array
        type:
          enum:
          - singleLine
          - multipleLines
          - richText
          - markdown
          - singleSelection
          - multipleSelections
          - boolean
          - number
          - datetime
          - files
          - reference
          - lookup
          - language
          - json
          - yaml
          - html
          - formula
          type: string
      type: object
    SetCell:
      example:
        sourceStatus: unset
        lengthLimit: 0
        columnId: columnId
        dependencyStatus: upToDate
        referencedIds:
        - referencedIds
        - referencedIds
        value: ""
      properties:
        columnId:
          type: string
        dependencyStatus:
          enum:
          - upToDate
          - outOfDate
          - unset
          type: string
        lengthLimit:
          format: int32
          type: integer
        referencedIds:
          items:
            type: string
          type: array
        sourceStatus:
          enum:
          - unset
          - doNotTranslate
          - notReadyForTranslation
          - readyForTranslation
          - locked
          type: string
        value:
          type: AnyType
      type: object
    SetRecord:
      example:
        path: path
        cells:
        - sourceStatus: unset
          lengthLimit: 0
          columnId: columnId
          dependencyStatus: upToDate
          referencedIds:
          - referencedIds
          - referencedIds
          value: ""
        - sourceStatus: unset
          lengthLimit: 0
          columnId: columnId
          dependencyStatus: upToDate
          referencedIds:
          - referencedIds
          - referencedIds
          value: ""
        id: id
      properties:
        id:
          type: string
        cells:
          items:
            $ref: '#/components/schemas/SetCell'
          type: array
        path:
          type: string
      type: object
    CreatePath:
      example:
        paths:
        - paths
        - paths
        parentPath: parentPath
      properties:
        parentPath:
          type: string
        paths:
          items:
            type: string
          type: array
      type: object
    PathList:
      example:
        paths:
        - paths
        - paths
      properties:
        paths:
          items:
            type: string
          type: array
      type: object
    MovePath:
      example:
        moveBefore: moveBefore
        fromParentPath: fromParentPath
        names:
        - names
        - names
        toParentPath: toParentPath
        moveAfter: moveAfter
      properties:
        fromParentPath:
          type: string
        moveAfter:
          type: string
        moveBefore:
          type: string
        names:
          items:
            type: string
          type: array
        toParentPath:
          type: string
      type: object
    Task:
      example:
        id: id
        status: failed
      properties:
        id:
          type: string
        status:
          enum:
          - failed
          - successful
          - running
          - retrySuccessful
          - cancel
          type: string
      type: object
    UploadedFile:
      example:
        originalName: originalName
        size: 0
        id: id
        contentType: contentType
      properties:
        id:
          type: string
        originalName:
          type: string
        contentType:
          type: string
        size:
          format: int64
          type: integer
      type: object
    CreateDependency:
      example:
        targetColumnId: targetColumnId
        id: id
        sourceColumnId: sourceColumnId
      properties:
        id:
          pattern: ^(?!_)\w+$
          type: string
        sourceColumnId:
          type: string
        targetColumnId:
          type: string
      required:
      - sourceColumnId
      - targetColumnId
      type: object
    CreateColumn:
      example:
        reference:
          branchId: branchId
          selectionType: SINGLE
          columnId: columnId
          gridId: gridId
          type: ROW
        numberFormat:
          decimalPlaces: 0
          currencySymbol: currencySymbol
          type: DECIMAL
          use1000Separator: true
        dateTimeFormat:
          zoneOffset: zoneOffset
          dateFormat:
            name: name
            format: format
          timeFormat: hour12
          showTimeZone: true
        name: name
        selectionOptions:
        - selectionOptions
        - selectionOptions
        - selectionOptions
        - selectionOptions
        - selectionOptions
        description: description
        localizationType: sourceLanguage
        formula:
          formulaText: formulaText
          detectResultValueType: list
          alwaysFormatResultValueAsList: true
        id: id
        type: singleLine
        languageCode: enUS
      properties:
        name:
          type: string
        description:
          type: string
        type:
          enum:
          - singleLine
          - multipleLines
          - richText
          - markdown
          - singleSelection
          - multipleSelections
          - boolean
          - number
          - datetime
          - files
          - reference
          - lookup
          - language
          - json
          - yaml
          - html
          - formula
          type: string
        languageCode:
          enum:
          - enUS
          - arSA
          - caES
          - zhCN
          - zhTW
          - deDE
          - itIT
          - jaJP
          - koKR
          - plPL
          - ptAO
          - ptBR
          - ruRU
          - esMX
          - esLA
          - esES
          - bnBD
          - bgBG
          - zhHK
          - csCZ
          - daDK
          - nlNL
          - fiFI
          - frFR
          - frCA
          - elGR
          - heIL
          - hiIN
          - huHU
          - idID
          - jwID
          - lvLV
          - msMY
          - noNO
          - ptPT
          - roRO
          - skSK
          - svSE
          - tlPH
          - thTH
          - trTR
          - ukUA
          - urIN
          - viVN
          - afZA
          - arAE
          - arBH
          - arDZ
          - arEG
          - arIQ
          - arJO
          - arKW
          - arLB
          - arLY
          - arMA
          - arOM
          - arQA
          - arSY
          - arTN
          - arYE
          - azAZ
          - beBY
          - bsBA
          - cyGB
          - deAT
          - deCH
          - deLI
          - deLU
          - dvMV
          - enAU
          - enBZ
          - enCA
          - enGB
          - enIE
          - enJM
          - enNZ
          - enPH
          - enTT
          - enZA
          - enZW
          - enSG
          - enIN
          - enGH
          - enRW
          - enZM
          - enKE
          - enNG
          - esAR
          - esBO
          - esCL
          - esCO
          - esCR
          - esDO
          - esEC
          - esGT
          - esHN
          - esNI
          - esPA
          - esPE
          - esPR
          - esPY
          - esSV
          - esUY
          - esVE
          - etEE
          - euES
          - faIR
          - foFO
          - frBE
          - frCH
          - frLU
          - frMC
          - glES
          - guIN
          - hrBA
          - hrHR
          - hyAM
          - isIS
          - itCH
          - kaGE
          - kkKZ
          - knIN
          - kokIN
          - kyKG
          - ltLT
          - miNZ
          - mkMK
          - mnMN
          - mrIN
          - msBN
          - mtMT
          - nbNO
          - nlBE
          - nnNO
          - nsZA
          - paIN
          - psAR
          - quBO
          - quEC
          - quPE
          - saIN
          - seFI
          - seNO
          - seSE
          - slSI
          - sqAL
          - srBA
          - srRS
          - srME
          - svFI
          - swKE
          - syrSY
          - taIN
          - teIN
          - tnZA
          - ttRU
          - urPK
          - uzUZ
          - xhZA
          - zhMO
          - zhSG
          - zuZA
          - am
          - hy
          - az
          - bn
          - bs
          - ca
          - hr
          - da
          - nl
          - en
          - fi
          - fr
          - hi
          - hu
          - id
          - it
          - km
          - mi
          - ps
          - ru
          - sl
          - es
          - sw
          - ta
          - ur
          - af
          - et
          - gl
          - ja
          - kk
          - ky
          - mk
          - ms
          - se
          - pl
          - pa
          - ro
          - sk
          - sv
          - tt
          - te
          - tr
          - uz
          - vi
          - eu
          - be
          - cs
          - de
          - gu
          - he
          - is
          - ko
          - lt
          - mr
          - mn
          - nb
          - nn
          - pt
          - sa
          - tn
          - uk
          - xh
          - sq
          - ar
          - bg
          - zh
          - dv
          - fo
          - fa
          - ka
          - el
          - kn
          - lv
          - mt
          - qu
          - sr
          - si
          - tl
          - th
          - cy
          - zu
          - "no"
          type: string
        localizationType:
          enum:
          - sourceLanguage
          - targetLanguage
          type: string
        numberFormat:
          $ref: '#/components/schemas/NumberFormat'
        selectionOptions:
          items:
            type: string
          maxItems: 1000
          minItems: 0
          type: array
        reference:
          $ref: '#/components/schemas/Reference'
        formula:
          $ref: '#/components/schemas/Formula'
        dateTimeFormat:
          $ref: '#/components/schemas/DateTimeFormat'
        id:
          pattern: ^(?!_)\w+$
          type: string
      required:
      - name
      - type
      type: object
    Reference:
      example:
        branchId: branchId
        selectionType: SINGLE
        columnId: columnId
        gridId: gridId
        type: ROW
      properties:
        gridId:
          type: string
        branchId:
          type: string
        columnId:
          type: string
        type:
          enum:
          - ROW
          - CELL
          type: string
        selectionType:
          enum:
          - SINGLE
          - MULTIPLE
          type: string
      required:
      - columnId
      - gridId
      type: object
    CreateGrid:
      example:
        recordIdentifierType: recordId
        templateGridId: templateGridId
        metadata:
          key: metadata
        name: name
      properties:
        name:
          type: string
        templateGridId:
          type: string
        recordIdentifierType:
          enum:
          - recordId
          - pathTagRecordId
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
      required:
      - name
      type: object
    Grid:
      example:
        recordIdentifierType: recordId
        metadata:
          key: metadata
        defaultAccessViewId: defaultAccessViewId
        columns:
        - dependsOn: dependsOn
          selectionOptions:
          - selectionOptions
          - selectionOptions
          description: description
          localizationType: sourceLanguage
          languageCode: languageCode
          type: singleLine
          isTarget: true
          reference:
            selectionType: SINGLE
            grid:
              name: name
              id: id
            column:
              name: name
              selectionOptions:
              - selectionOptions
              - selectionOptions
              id: id
            type: ROW
            branch:
              name: name
              id: id
          dateTimeFormat:
            zoneOffset: zoneOffset
            dateFormat:
              name: name
              format: format
            timeFormat: hour12
            showTimeZone: true
          numberFormat:
            decimalPlaces: 0
            currencySymbol: currencySymbol
            type: DECIMAL
            use1000Separator: true
          isSource: true
          name: name
          formula:
            formulaText: formulaText
            detectResultValueType: list
            alwaysFormatResultValueAsList: true
          id: id
        - dependsOn: dependsOn
          selectionOptions:
          - selectionOptions
          - selectionOptions
          description: description
          localizationType: sourceLanguage
          languageCode: languageCode
          type: singleLine
          isTarget: true
          reference:
            selectionType: SINGLE
            grid:
              name: name
              id: id
            column:
              name: name
              selectionOptions:
              - selectionOptions
              - selectionOptions
              id: id
            type: ROW
            branch:
              name: name
              id: id
          dateTimeFormat:
            zoneOffset: zoneOffset
            dateFormat:
              name: name
              format: format
            timeFormat: hour12
            showTimeZone: true
          numberFormat:
            decimalPlaces: 0
            currencySymbol: currencySymbol
            type: DECIMAL
            use1000Separator: true
          isSource: true
          name: name
          formula:
            formulaText: formulaText
            detectResultValueType: list
            alwaysFormatResultValueAsList: true
          id: id
        name: name
        description: description
        id: id
        status: deleted
      properties:
        id:
          type: string
        columns:
          items:
            $ref: '#/components/schemas/ViewColumn'
          type: array
        defaultAccessViewId:
          type: string
        description:
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
        name:
          type: string
        recordIdentifierType:
          enum:
          - recordId
          - pathTagRecordId
          type: string
        status:
          enum:
          - deleted
          - active
          - inactive
          - restoring
          - backingUp
          - uploading
          - importing
          - branching
          - merging
          - duplicating
          - clearingRecords
          type: string
      type: object
    CreateBranch:
      example:
        name: name
      properties:
        name:
          type: string
      required:
      - name
      type: object
    Branch:
      example:
        recordIdentifierType: recordId
        metadata:
          key: metadata
        defaultAccessViewId: defaultAccessViewId
        columns:
        - dependsOn: dependsOn
          selectionOptions:
          - selectionOptions
          - selectionOptions
          description: description
          localizationType: sourceLanguage
          languageCode: languageCode
          type: singleLine
          isTarget: true
          reference:
            selectionType: SINGLE
            grid:
              name: name
              id: id
            column:
              name: name
              selectionOptions:
              - selectionOptions
              - selectionOptions
              id: id
            type: ROW
            branch:
              name: name
              id: id
          dateTimeFormat:
            zoneOffset: zoneOffset
            dateFormat:
              name: name
              format: format
            timeFormat: hour12
            showTimeZone: true
          numberFormat:
            decimalPlaces: 0
            currencySymbol: currencySymbol
            type: DECIMAL
            use1000Separator: true
          isSource: true
          name: name
          formula:
            formulaText: formulaText
            detectResultValueType: list
            alwaysFormatResultValueAsList: true
          id: id
        - dependsOn: dependsOn
          selectionOptions:
          - selectionOptions
          - selectionOptions
          description: description
          localizationType: sourceLanguage
          languageCode: languageCode
          type: singleLine
          isTarget: true
          reference:
            selectionType: SINGLE
            grid:
              name: name
              id: id
            column:
              name: name
              selectionOptions:
              - selectionOptions
              - selectionOptions
              id: id
            type: ROW
            branch:
              name: name
              id: id
          dateTimeFormat:
            zoneOffset: zoneOffset
            dateFormat:
              name: name
              format: format
            timeFormat: hour12
            showTimeZone: true
          numberFormat:
            decimalPlaces: 0
            currencySymbol: currencySymbol
            type: DECIMAL
            use1000Separator: true
          isSource: true
          name: name
          formula:
            formulaText: formulaText
            detectResultValueType: list
            alwaysFormatResultValueAsList: true
          id: id
        isMaster: true
        name: name
        description: description
        id: id
        status: deleted
      properties:
        id:
          type: string
        columns:
          items:
            $ref: '#/components/schemas/ViewColumn'
          type: array
        defaultAccessViewId:
          type: string
        description:
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
        name:
          type: string
        recordIdentifierType:
          enum:
          - recordId
          - pathTagRecordId
          type: string
        status:
          enum:
          - deleted
          - active
          - inactive
          - restoring
          - backingUp
          - uploading
          - importing
          - branching
          - merging
          - duplicating
          - clearingRecords
          type: string
        isMaster:
          type: boolean
      type: object
    UpdateColumn:
      example:
        reference:
          branchId: branchId
          selectionType: SINGLE
          columnId: columnId
          gridId: gridId
          type: ROW
        numberFormat:
          decimalPlaces: 0
          currencySymbol: currencySymbol
          type: DECIMAL
          use1000Separator: true
        dateTimeFormat:
          zoneOffset: zoneOffset
          dateFormat:
            name: name
            format: format
          timeFormat: hour12
          showTimeZone: true
        newId: newId
        name: name
        selectionOptions:
        - selectionOptions
        - selectionOptions
        - selectionOptions
        - selectionOptions
        - selectionOptions
        description: description
        localizationType: sourceLanguage
        formula:
          formulaText: formulaText
          detectResultValueType: list
          alwaysFormatResultValueAsList: true
        type: singleLine
        languageCode: enUS
      properties:
        name:
          type: string
        description:
          type: string
        type:
          enum:
          - singleLine
          - multipleLines
          - richText
          - markdown
          - singleSelection
          - multipleSelections
          - boolean
          - number
          - datetime
          - files
          - reference
          - lookup
          - language
          - json
          - yaml
          - html
          - formula
          type: string
        languageCode:
          enum:
          - enUS
          - arSA
          - caES
          - zhCN
          - zhTW
          - deDE
          - itIT
          - jaJP
          - koKR
          - plPL
          - ptAO
          - ptBR
          - ruRU
          - esMX
          - esLA
          - esES
          - bnBD
          - bgBG
          - zhHK
          - csCZ
          - daDK
          - nlNL
          - fiFI
          - frFR
          - frCA
          - elGR
          - heIL
          - hiIN
          - huHU
          - idID
          - jwID
          - lvLV
          - msMY
          - noNO
          - ptPT
          - roRO
          - skSK
          - svSE
          - tlPH
          - thTH
          - trTR
          - ukUA
          - urIN
          - viVN
          - afZA
          - arAE
          - arBH
          - arDZ
          - arEG
          - arIQ
          - arJO
          - arKW
          - arLB
          - arLY
          - arMA
          - arOM
          - arQA
          - arSY
          - arTN
          - arYE
          - azAZ
          - beBY
          - bsBA
          - cyGB
          - deAT
          - deCH
          - deLI
          - deLU
          - dvMV
          - enAU
          - enBZ
          - enCA
          - enGB
          - enIE
          - enJM
          - enNZ
          - enPH
          - enTT
          - enZA
          - enZW
          - enSG
          - enIN
          - enGH
          - enRW
          - enZM
          - enKE
          - enNG
          - esAR
          - esBO
          - esCL
          - esCO
          - esCR
          - esDO
          - esEC
          - esGT
          - esHN
          - esNI
          - esPA
          - esPE
          - esPR
          - esPY
          - esSV
          - esUY
          - esVE
          - etEE
          - euES
          - faIR
          - foFO
          - frBE
          - frCH
          - frLU
          - frMC
          - glES
          - guIN
          - hrBA
          - hrHR
          - hyAM
          - isIS
          - itCH
          - kaGE
          - kkKZ
          - knIN
          - kokIN
          - kyKG
          - ltLT
          - miNZ
          - mkMK
          - mnMN
          - mrIN
          - msBN
          - mtMT
          - nbNO
          - nlBE
          - nnNO
          - nsZA
          - paIN
          - psAR
          - quBO
          - quEC
          - quPE
          - saIN
          - seFI
          - seNO
          - seSE
          - slSI
          - sqAL
          - srBA
          - srRS
          - srME
          - svFI
          - swKE
          - syrSY
          - taIN
          - teIN
          - tnZA
          - ttRU
          - urPK
          - uzUZ
          - xhZA
          - zhMO
          - zhSG
          - zuZA
          - am
          - hy
          - az
          - bn
          - bs
          - ca
          - hr
          - da
          - nl
          - en
          - fi
          - fr
          - hi
          - hu
          - id
          - it
          - km
          - mi
          - ps
          - ru
          - sl
          - es
          - sw
          - ta
          - ur
          - af
          - et
          - gl
          - ja
          - kk
          - ky
          - mk
          - ms
          - se
          - pl
          - pa
          - ro
          - sk
          - sv
          - tt
          - te
          - tr
          - uz
          - vi
          - eu
          - be
          - cs
          - de
          - gu
          - he
          - is
          - ko
          - lt
          - mr
          - mn
          - nb
          - nn
          - pt
          - sa
          - tn
          - uk
          - xh
          - sq
          - ar
          - bg
          - zh
          - dv
          - fo
          - fa
          - ka
          - el
          - kn
          - lv
          - mt
          - qu
          - sr
          - si
          - tl
          - th
          - cy
          - zu
          - "no"
          type: string
        localizationType:
          enum:
          - sourceLanguage
          - targetLanguage
          type: string
        selectionOptions:
          items:
            type: string
          maxItems: 1000
          minItems: 0
          type: array
        numberFormat:
          $ref: '#/components/schemas/NumberFormat'
        reference:
          $ref: '#/components/schemas/Reference'
        formula:
          $ref: '#/components/schemas/Formula'
        dateTimeFormat:
          $ref: '#/components/schemas/DateTimeFormat'
        newId:
          type: string
      type: object
    UpdateGrid:
      example:
        metadata:
          key: metadata
        name: name
      properties:
        name:
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
      type: object
    FetchFileOption:
      default: id
      enum:
      - all
      - id
      - name
      type: string
      x-enum-varnames:
      - all
      - id
      - name
    CellHistory:
      example:
        sourceStatus: unset
        columnId: columnId
        dependencyStatus: upToDate
        value: "{}"
      properties:
        dependencyStatus:
          enum:
          - upToDate
          - outOfDate
          - unset
          type: string
        sourceStatus:
          enum:
          - unset
          - doNotTranslate
          - notReadyForTranslation
          - readyForTranslation
          - locked
          type: string
        columnId:
          type: string
        value:
          type: object
      type: object
    RecordHistory:
      example:
        path: path
        cells:
        - sourceStatus: unset
          columnId: columnId
          dependencyStatus: upToDate
          value: "{}"
        - sourceStatus: unset
          columnId: columnId
          dependencyStatus: upToDate
          value: "{}"
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedBy: lastModifiedBy
      properties:
        path:
          type: string
        cells:
          items:
            $ref: '#/components/schemas/CellHistory'
          type: array
        lastModifiedBy:
          type: string
        lastModifiedTime:
          format: date-time
          type: string
      type: object
    PathNode:
      example:
        parentPath: parentPath
        name: name
      properties:
        name:
          type: string
        parentPath:
          type: string
      type: object
    ExportFileHeader:
      enum:
      - none
      - columnName
      type: string
      x-enum-varnames:
      - none
      - columnName
    DeleteRecord:
      example:
        identifiers:
        - path: path
          id: id
        - path: path
          id: id
        ids:
        - ids
        - ids
      properties:
        ids:
          items:
            type: string
          type: array
        identifiers:
          items:
            $ref: '#/components/schemas/RecordIdentifierWrapper'
          type: array
      type: object
    RecordIdentifierWrapper:
      example:
        path: path
        id: id
      properties:
        id:
          type: string
        path:
          type: string
      required:
      - id
      - path
      type: object
    DeletePath:
      example:
        paths:
        - paths
        - paths
      properties:
        paths:
          items:
            type: string
          type: array
      type: object
    DeleteFile:
      example:
        ids:
        - ids
        - ids
      properties:
        ids:
          items:
            type: string
          type: array
      required:
      - ids
      type: object
    DeleteDependency:
      example:
        ids:
        - ids
        - ids
      properties:
        ids:
          items:
            type: string
          type: array
      type: object
    UpdateProject:
      example:
        name: name
        description: description
      properties:
        name:
          maxLength: 50
          minLength: 0
          type: string
        description:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - name
      type: object
    Privilege:
      example:
        level: level
        extra: extra
        name: name
        description: description
        id: 5
        label: label
        serviceId: serviceId
        order: 5
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        label:
          type: string
        level:
          type: string
        order:
          format: int32
          type: integer
        serviceId:
          type: string
        description:
          type: string
        extra:
          type: string
      type: object
    Project:
      example:
        companyId: 3
        role:
          privileges:
          - level: level
            extra: extra
            name: name
            description: description
            id: 5
            label: label
            serviceId: serviceId
            order: 5
          - level: level
            extra: extra
            name: name
            description: description
            id: 5
            label: label
            serviceId: serviceId
            order: 5
          isSystemRole: true
          level: level
          name: name
          id: 1
          title: title
          type: type
          privilegeIds:
          - 2
          - 2
        name: name
        description: description
        id: 9
      properties:
        id:
          format: int64
          type: integer
        companyId:
          format: int64
          type: integer
        name:
          type: string
        description:
          type: string
        role:
          $ref: '#/components/schemas/Role'
      type: object
    Role:
      example:
        privileges:
        - level: level
          extra: extra
          name: name
          description: description
          id: 5
          label: label
          serviceId: serviceId
          order: 5
        - level: level
          extra: extra
          name: name
          description: description
          id: 5
          label: label
          serviceId: serviceId
          order: 5
        isSystemRole: true
        level: level
        name: name
        id: 1
        title: title
        type: type
        privilegeIds:
        - 2
        - 2
      properties:
        id:
          format: int64
[...]
